@import "../../assets/variables.scss";

header {
  padding: 20px 10px;
  position: relative;
  z-index: 100;
  color: white;
  background: linear-gradient(180deg, $main-Color2 0%, $main-Color 50%);
}
