$main-Color : #f17855 ;
$main-Color-low-opacity : #f1775569 ;
$main-Color2 : #f1a555 ;
$font-whiteColor : white ;
$font-blackColor : #000000 ;
$font-ddd : #848484 ;
$section-color : #ddd ;
$transtions : 0.3s linear ;