@import "../../assets/variables.scss" ;

.single{
    min-height: 580vh;
    .img{
        background-image: url("../../assets/images/banner.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 70vh;
        background-attachment:fixed;
    }
}