@import "../../assets/variables.scss";


body.ar{
  .slider-wrapper{
    direction: rtl !important;
  }
}

.single {
  min-height: 580vh;
  position: relative;
  .img {
    background-image: url("../../assets/images/banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    background-attachment: fixed;
  }
  .big {
    margin-top: 60px;
    display: flex;
    gap: 20px;
    .line1 {
      flex-grow: 1;
      max-width: 80%;
      .box {
        display: flex;
      }
      .box1 {
        justify-content: space-between;
        align-items: center;
        .con1 {
          & > h1 {
            color: $main-Color;
            font-size: 40px;
            text-transform: capitalize;
          }
          & > h4 {
            text-transform: capitalize;
            color: $main-Color2;
            font-size: 18px;
            // margin-bottom: 20px;
          }
        }
        .con2 {
          .rate {
            display: flex;
            align-items: center;
            gap: 10px;
            .inside > h1 {
              color: $main-Color;
              font-size: 20px;
              text-transform: capitalize;
            }
            .inside > p {
              text-transform: capitalize;
              color: $main-Color2;
              font-size: 14px;
            }
            .outOfFive {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: $main-Color;
              padding: 2px 4px;
              color: white;
              border-radius: 10px;
              font-weight: 600;
            }
          }
          h5 {
            color: $font-ddd;
            font-weight: bold;
          }
        }
      }
    }
    .line2{
      flex-grow: 1;
      .customer{
       border: 1px solid #ddd;
        width: 100%;
        display: flex;
        padding: 10px;
        align-items: center;
        gap: 10px;
        p{
          font-size: 12px;
        }i{
          color: $font-ddd;
        }
        .icon{
          background-color: $main-Color;
          color: white;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 25px;
          border-radius: 50%;
        }
        a{
          &:hover{
            text-decoration: line-through;
            color: red;
          }
        }
      }
      .related-hotels{
        h1{
          margin: 30px 0px;
          margin-bottom: 0;
          display: flex;
          gap: 5px;
          align-items: center;
          padding-bottom: 10px;
          border-bottom: 2px solid #ddd;
          span {
            display: block;
            width: 3px ;
            height: 30px;
            background-color: $main-Color;
          }
        }
        .all{
          display: flex;
          padding: 10px 0px;
          gap: 10px;
          border-bottom: 2px solid #ddd;
          img{
            width: 90px;
          }
          .rate{
            display: flex;
            gap: 2px;
            i{
              color: orange;
              font-size: 12px;
            }
          }
          a{
            display: block;
            cursor: pointer;
            margin: 2px 0px;
          }
          p{
            font-size: 13px;
            span{
              color: $font-ddd;
              font-size: 18px;
            }
          }
          &:last-of-type{
            border: none;
          }
        }
      }
      .type{
        margin-top: 20px;
        h1{
          margin: 30px 0px;
          margin-bottom: 0;
          display: flex;
          gap: 5px;
          align-items: center;
          padding-bottom: 10px;
          border-bottom: 2px solid #ddd;
          span {
            display: block;
            width: 3px ;
            height: 30px;
            background-color: $main-Color;
          }
        }
        .togther {
          display: flex;
          gap: 10px;
          margin-top: 10px;
          align-items: center;
          transition: $transtions;
          &:hover{
            margin-left: 20px;
          }
          span{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid $font-ddd;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            i{
              font-size: 10px;
              color: $font-ddd;
              transform: translateY(1.2px);
            }
          }
        }
      }
    }
  }
}

// slider line 1

.box2 {
  .control-dots {
    display: none ;
  }
  .slider-wrapper {
    .slide {
      height: 400px !important;
      .all{
        height: 100%;
        position: relative;
        .flow {
          position: absolute;
        }
        .icon {
          font-size: 20px;
          color: white;
          background-color: $main-Color;
          padding: 4px;
          border-radius: 5px;
          z-index: 500;
          &:hover {
            color: red ;
          }
          &.click {
            color: red;
          }
          transition: $transtions;
          cursor: pointer;
        }
        .btns{
          left: 2%;
          top: 2%;
          display: flex;
          gap: 10px;

        }
        img{
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .control-arrow {
    background-color: $main-Color !important;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50% !important;
    opacity: 0.7 !important;
    &:hover {
      opacity: 1 !important;
    }
    &.control-next {
      transform: translate(-20%, -50%) !important;
    }
    &.control-prev{
      transform: translate(20%, -50%) !important;
    }
  }
  .thumbs-wrapper{
    margin: 20px 0px !important;
    ul{
      li{
        width: 120px !important;
        height: 100px;
        img{
          height: 100%;
        }
      }
    }
    .control-arrow{
      display: none;
    }
  }
  .heading{
    .stage2{
      margin-top: 20px;
      h3{
        color: $main-Color;
      }
      ul{
        margin-left: 20px;
        li{
          display: flex;
          align-items: center;
          gap: 10px;
          margin-top: 10px;
          span{
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid $main-Color;
          }
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .single {
    .big {
      flex-direction: column;
      .line1 {
        max-width: 100%;
      }
      .line2{
        max-width: 100%;
      }
    }
  }
}

@media (max-width: 700px) {
  .single {
    .big {
      .line1 {
        .box1 {
          flex-direction: column;
          align-items: start;
          h4 {
            margin-bottom: 0 !important;
          }
        }
        .box3 {
          flex-direction: column;
        }
      }
    }
  }
}
